<table class="table table-striped">
  <thead>
    <th *ngFor="let c of columns">{{ c }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let col of tweets; let i = index">
      <!-- <td>{{ col.username }}</td> -->
      <td>{{ col.text }}</td>
      <td>{{ col.retweet_count }}</td>
      <td>{{ col.favorite_count }}</td>
      <td>
        <crystal-gallery
          [images]="myImages[i]"
          masonryMaxHeight="100"
          masonry="true"
        ></crystal-gallery>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!tweets.length" >

  <div class="col-md-12"> <span >If Thers is No Tweets Then go to slack channel the write "go" ten refresh the Page</span> </div>
  <div class="col-md-12"><a href="https://success-bzf6659.slack.com/messages/CGSGS9YRY/details/" target="_blank">Slack Channed Link</a> </div>
  <div class="col-md-12"> <span>email: osos2026@gmail.com</span> </div>
  <div class="col-md-12"> <span>password: 01010889814Oso</span></div>

</div>

  
  







