<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
      <span class="col-md-9">Tweets List</span>
      <button class="btn btn-primary" onclick="location.reload();">Refresh Until Real Time Integration</button>
    </div>
    </div>
    <div class="card-body">
      <app-table></app-table>
    </div>
  </div>
</div>
